<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

	<p:tabView prependId="false">
		<p:tab>
			<f:facet name="title">
			 	<i class="fa fa-user"><span>  Osoba</span></i>
			</f:facet>
			<p:panel id="idUserPanel" prependId="false">
			<div class=" Container100 NoPadding Responsive100" >
 			<div class="Container20 NoPadding Responsive100">
						<ui:include src="ADUserCard0.xhtml"></ui:include>
			</div>
			<div class="Container70 Responsive100">
  			<div class="Container50 Responsive50 HoverEffect " >
    		        <div class="Card ui-fluid LeadenBack">
    		        	<i class="fa fa-newspaper-o Fs16 SoftGray DispBlock"><span>  Ogólne</span></i>
    		        	<div class="EmptyBox5" />
						<ui:include src="ADUserCard1.xhtml"></ui:include>
					</div>	
			</div>		 		
  			<div class="Container50 Responsive50 HoverEffect" >
    		        <div class="Card ui-fluid LeadenBack">
    		        	<i class="fa fa-ticket Fs16 SoftGray DispBlock"><span>  Adresy</span></i>
    		        	<div class="EmptyBox5" />
						<ui:include src="ADUserCard2.xhtml"></ui:include>
			 		</div>
			 </div>

  			<div class="Container50 Responsive50 HoverEffect">
    		        <div class="Card ui-fluid LeadenBack">
    		        	<i class="fa fa-phone Fs16 SoftGray DispBlock"><span>  Telefony</span></i>
    		        	<div class="EmptyBox5" />
						<ui:include src="ADUserCard3.xhtml"></ui:include>
			 		</div>
		 	</div>

  			<div class="Container50 Responsive50 HoverEffect">
    		        <div class="Card ui-fluid LeadenBack">
    		        	<i class="fa fa-usb Fs16 SoftGray DispBlock"><span>  Organizacja</span></i>
    		        	<div class="EmptyBox5" />
						<ui:include src="ADUserCard4.xhtml"></ui:include>
			 		</div>
			</div>
			</div> 
			</div>
			<div class="EmptyBox5" />
			</p:panel>
		</p:tab>
		<p:tab>
			<f:facet name="title">
			 	<i class="fa fa-users"><span>  Grupa</span></i>
			 </f:facet>
		</p:tab>
	</p:tabView>
</ui:composition>