<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

	<p:panelGrid columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8" styleClass="LeadenBack White " layout="grid" >
		<p:outputLabel value="Dom" styleClass="SoftGray" />
		<p:inputText value="#{ADUsersAndGroupsCtrl.xxx} "  />
	</p:panelGrid>
	<div class="EmptyBox10" />



</ui:composition>