<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
		
	<p:commandButton icon="fa fa-file-picture-o" value="Zmień foto" styleClass="White"  
		action="#{ADUsersAndGroupsCtrl.onClick()}" />
	<p:commandButton icon="fa fa-save" value="Zapisz" styleClass="White" 
		action="#{ADUsersAndGroupsCtrl.onClick()}" />

</ui:composition>