<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">


	<div class="Container100 NoPadding" >
	<div class="Container20 NoPadding Responsive50" style="width:15% !important;">
		<h:outputLink value="http://www.tadmar.pl" target="_blank" >
			<h:graphicImage name="tadmar.jpg" library="gfx" style="width:70px; height:auto;" />
		</h:outputLink>
		<h:outputLink value="http://www.saint-gobain.com" target="_blank" >
			<h:graphicImage name="Saint-Gobain_logo.jpg" library="gfx" style="width:85px; height:auto;" />
		</h:outputLink>
    </div>
	<div class="Container40 NoPadding Responsive50">
    	<div class="Container100 ui-fluid" style="padding:0px !important">
			<p:panelGrid columns="4" styleClass="Wid100 Opac50" type="grid" style="padding:0px;">
			    <p:button target="_blank" href="ad.jsf" 
			    	icon="fa fa-user" styleClass="Opac100 Wid10 FontDosisSemiBold LeadenButton White" />	
				<h:outputText value="#{HeaderCtrl.aDinfoExt.userSgid}" styleClass="Wid20 FontDosisSemiBold" />
				<h:outputText value="IP: #{HeaderCtrl.aDinfoExt.clientIP}" styleClass="Wid30 FontDosisSemiBold" />
				<p:clock pattern="yy-MM-dd HH:mm" styleClass="Wid40 FontBold" />
			</p:panelGrid>
		</div>
    </div>
	</div>
	<div class="EmptyBox5" />
	<div class="Container100 NoPadding TexAlCenter White FontDosisSemiBold Opac90" >
		<i class="icon-slideshare Fs30 DispBlock FontDosisSemiBold"><span >   </span><span class="Fs30">    PORTAL</span></i>
	</div>
	
</ui:composition>