<!DOCTYPE html>
<html lang="en" 
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:fn="http://java.sun.com/jsp/jstl/functions"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pm="http://primefaces.org/mobile"
    xmlns:pe="http://primefaces.org/ui/extensions"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    >
	<f:view contentType="text/html" transient="false">
	<h:head>
		<f:facet name="first"> 
    		<title>OIZ070</title>
    		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    		<meta name="apple-mobile-web-app-capable" content="yes" />
		</f:facet>
        <h:outputScript name="js/layout.js" library="atlas-layout" />		
		<h:outputStylesheet name="css/modena11.css" />
        <h:outputStylesheet name="css/core-layout.css" library="atlas-layout" />
        <h:outputStylesheet name="css/font-awesome.css" library="atlas-layout" />
        <h:outputStylesheet name="css/animate.css" library="atlas-layout" />
        <h:outputStylesheet name="css/atlas-layout.css" library="atlas-layout" />
        <h:outputStylesheet name="css/atlas-font.css" library="atlas-layout" />
    </h:head>
    <h:body styleClass="IndigoModena Geometry">
		<h:form id="frmOIZ070" prependId="false" >
    		<ui:include src="oiz070N.xhtml"></ui:include>
    		<ui:include src="oiz070C.xhtml"></ui:include>
			
    		<ui:include src="../../pages/shared/ErrorHandler.xhtml"></ui:include>
			<ui:include src="../../pages/shared/MessageHandler.xhtml"></ui:include>
    	</h:form>	
    </h:body>
    </f:view>
</html>