<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Portal</title>

        <h:outputScript name="js/equalize.js" library="atlas-layout" />
        <h:outputScript name="js/layout.js" library="atlas-layout" />

        <ui:insert name="head" />
    </h:head>

    <h:body styleClass="LeadenTopbar">

	<h:form id ="mainFrm" prependId="false">
		<p:growl id="growl" autoUpdate="true" showDetail="false" sticky="true"   />  
        <div id="layout-portlets-cover" class="Flex FlexWrap" style="padding:0px !important">
            <ui:insert name="content">
                Template
            </ui:insert>
        </div>

        <p:ajaxStatus style="width:40px; height:40px; position:fixed; right:30px; bottom:30px; z-index:999999;">
            <f:facet name="start">
               <i class="fa fa-circle-o-notch fa-spin Green Fs40"></i>
            </f:facet>
            <f:facet name="complete">
                <h:outputText value="" />
            </f:facet>
        </p:ajaxStatus>

        <h:outputStylesheet name="css/portal.css"  />
        <h:outputStylesheet name="css/core-layout.css" library="atlas-layout" />
        <h:outputStylesheet name="css/animate.css" library="atlas-layout" />
        <h:outputStylesheet name="css/font-awesome.css" library="atlas-layout" />
        <h:outputStylesheet name="css/atlas-font.css" library="atlas-layout" />
        <h:outputStylesheet name="css/atlas-layout.css" library="atlas-layout" />
    </h:form>
    </h:body>

</html>