<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="head">
    </ui:define>

    <ui:define name="content">
        <div class="Container100 NoPadding Responsive100" 
        	style="background-image: url(./resources/gfx/banner.png) ;width:100%; height:80px; background-size: cover;" >
       		<ui:include src="pages/Header.xhtml"></ui:include> 			
    	</div>
    </ui:define>

</ui:composition>