		.ui-panelgrid{font-size: 11px}
		.ui-toolbar {background-color: #ECEFF1; padding: 4px !important}
		.ui-datatable table thead tr th, .ui-datatable table tfoot tr td, .ui-datatable table thead tr th {
			font-size: 12px;}
		.ui-datatable table tbody tr td{font-size: 11px; color:#000000}
		.ui-datatable .ui-paginator .ui-paginator-current{padding: 0px; font-size: 11px; color:#000000}
		.ui-datatable table thead tr .ui-state-default .ui-icon-carat-2-n-s, .ui-datatable .ui-datatable-sticky table thead tr .ui-state-default .ui-icon-carat-2-n-s{
			background-size: 80%}
		.ui-inputfield {font-size: 11px; padding: 4px 8px !important; color:#000000}
		.ui-outputlabel{font-size: 11px; font-weight: bold !important}
		.ui-button-text-only .ui-button-text{padding: 5px 24px !important}
		.ui-button-text-icon-left .ui-button-text{padding: 7px 10px 7px 35px !important}
		.ui-panel .ui-panel-titlebar{font-size: 12px; padding:5px 10px !important }
		.ui-panel .ui-panel-content{font-size: 11px; color:#000000 !important;}
		.ui-accordion-header{font-size: 11px !important}
		.ui-selectonemenu-panel .ui-selectonemenu-list-item, .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item {
			font-size: 11px; color:#000000}
		.ui-selectonemenu-trigger .ui-icon-triangle-1-s, .ui-selectcheckboxmenu-trigger .ui-icon-triangle-1-s{
			margin-top: 4px !important}
		.ui-selectonelistbox .ui-selectlistbox-item{font-size: 11px;  padding: 3px 3px !important}	
		.ui-paginator .ui-paginator-current{font-size: 11px; padding: 1px 1px !important}
		.ui-paginator .ui-paginator-rpp-options{font-size: 11px !important; padding: 1px 1px !important}
		.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-current{
			padding: 1px 1px !important}
		.ui-growl-message{font-size: 14px}
		.ui-dialog .ui-dialog-titlebar{color:#33AFDE}
		.ui-dialog .ui-dialog-content{font-size:11px; padding:10px !important; color:#000000 !important;}
		.ui-radiobutton .ui-radiobutton-box {
			width: 10px !important; height: 10px !important}
		.ui-radiobutton .ui-state-active .ui-icon-bullet, .ui-radiobutton .ui-state-focus .ui-icon-bullet {
			width: 10px; height: 10px}
		.ui-selectoneradio label {font-size: 11px}
		.ui-growl-message {font-size: 11px !important }	
		.ui-ribbon .ui-ribbon-group .ui-ribbon-group-content{display: inline}
		.ui-ribbon .ui-button .ui-button-text{font-size: 11px !important}
		.ui-ribbon-bigbutton .ui-icon, .ui-ribbon-group .ui-icon{font-size: 15px !important}
		.ui-ribbon .ui-selectonemenu-label{font-size: 12px !important}
		.ui-tabs-top .ui-tabs-nav li a {font-size: 12px; padding: 7px !important; border:solid 1.5px #FFFFFF !important; border-radius:3px}
		.ui-tabs-panels{font-size: 12px}
		.ui-corner-all { border-radius: 3px !important;}
		.ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon-search {width: 20px; height: 20px}
		.ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-item {font-size: 11px; padding: 3px 4px;}
		.ui-datagrid .ui-panel .ui-panel-titlebar {font-size: 12px; color: #FFFFFF;}
		.ui-outputlabel, table tbody tr td {color: #000000; }
		.ui-datalist .ui-datalist-header {padding : 1px !important; font-size: 15px !important }		
		