.ui-panel {
	background-color: #C2CCDA !important;
}
.ui-tabs .ui-tabs-panel {
	padding: 0.4em 0.4em;
}
.ui-panel .ui-panel-titlebar {
	background-color : #1f3549 !important;
	color: #FFFFFF;
	font-size:12px !important;
}
.ui-selectonemenu-panel .ui-selectonemenu-list-item, .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item {
	font-size:11px ;	
}
.ui-dialog .ui-dialog-titlebar {
	background-color : #457784 !important;
	color: #FFFFFF;
}
.ui-datalist {
	background-color : transparent !important;
	border :none !important;
}
.ui-datalist .ui-datalist-content .ui-datalist-data {
	padding-top : 1px;
	padding-bottom :1px;
}

.ui-datalist .ui-datalist-item {
	padding-top : 2px;
	padding-bottom :2px;
}
.ui-overlaypanel .ui-overlaypanel-content {
	padding: 4px !important;
}
.ui-panel .ui-panel-content {
	padding: 0px !important;
}
.ui-inputfield {
	font-size:12px !important
}
.ui-outputlabel {
	font-size:12px !important
}
.ui-datatable table thead tr th, .ui-datatable table tfoot tr td, .ui-datatable table thead tr th {
	font-size:12px !important
}
.ui-datalist .ui-paginator-top {
	background-color: #457784;
}
.ui-datalist .ui-paginator-bottom {
	background-color: #457784;
}
.PortalMenuButton .ui-button-text {
  background-color: #ffffff;
  color: #457784;
  text-align: left;
  font-size:11px !important;
  padding : 2px 20px 2px 20px !important;
}
.PortalMenuButton.ui-state-hover .ui-button-text,
.PortalMenuButton.ui-state-focus .ui-button-text {
  background-color: #BECBD4 !important;
}
.PortalMenuButton.ui-state-active .ui-button-text {
  background-color: #ECEFF1 !important;
}
#layout-portlets-cover {
	padding: 1rem 1rem 1rem 1rem !important;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
	opacity:0.8;
}

.ui-growl-item-container {
	padding: 0px !important;
}
.ui-clock {
	background-color: transparent ;
}
